.footer{
background-color: #10273d;
color: white;
  padding: 40px 20px 10px;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-section {
  flex: 1;
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 2px solid #00c48c;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #00c48c;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: white;
}

.social-icons a:hover {
  color: #00c48c;
}

.footer-bottom {
  width:100%;  
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  font-size: 14px;
}

.footer_bottom_link{
    color:#47b377;
    font-weight: 400;
}
.footer_bottom_link:hover{
    color:#2f3a56;
}































































































































































































































































































++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++